<%= link_to "管理首页头条", :controller=>"admin", :action=>"list_headlines"%> |
<%= link_to "管理视频内容", :controller=>"admin", :action=>"list_videos"%> |
<%= link_to "管理相关链接", :controller=>"admin", :action=>"list_links"%> |
<%= link_to "管理首页图片", :controller=>"admin", :action=>"list_pictures"%> |
<%= link_to "管理文案内容", :controller=>"admin", :action=>"list_posts"%> |
<%= link_to "管理用户密码", :controller=>"admin", :action=>"change_password"%> |
<%= link_to "返回网站首页", :controller=>"home"%> |
<%= link_to "退出", :controller=>"admin", :action=>"logout"%><br>
<h2>提交申请表信息-<%=@header%></h2>
<br>
