<%= link_to '用户退出', :action=>"logout" %> |
<%=link_to "站点管理", :controller=>"admin"%> |
<%=link_to "网站首页", :controller=>"home"%><br>
<h2>修改用户密码</h2><hr>
<% form_for :home, :url=>{:action=>"change_password"} do |f| %>
  <%= f.error_messages %>
  <p>
    <b>旧密码:<br /></b>
    <%= f.password_field :old_password%>
  </p>
  <p>
    <b>新密码(密码长度在3-9位之间):<br /></b>
    <%= f.password_field :new_password%>
  </p>
  <p>
    <b>确认密码:<br /></b>
    <%= f.password_field :confirm_password%>
  </p>
  <p>
    <b>反垃圾算术题:<br /></b>
    <img
      src='<%= url_for(:controller=>"home",:action=>"post_validation")%>' />
    <%= f.text_field :code, :size=>"8"%></p>
  <%=submit_tag "登陆"%>
<% end %>
